body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}
html {
    scroll-behavior: auto;
}
.main-body{
    width:100%;
    height:100vh;
}
.col {
    width: 50%;
    height:100%;
}
.main-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.circle {
    width:10%;
    background-color: rgb(125 0 254);
    color: white;
    margin-right: 3%;
    padding: 1%;
    border-radius: 200% ;
}

.btn:hover {
    border: 2px solid rgb(125 0 254);
}

.video {
    max-height: 100vh;
    z-index: -1;
}

.play {
    z-index: 10;
    position: fixed;
    left:20%;
    top: 40%;
}

@media (min-aspect-ratio: 16/9) {
    .video{ 
        width: 100%;
        height:auto
    }
}
@media (max-aspect-ratio: 16/9) {
    .video{ 
        width: auto;
        height:100% ;
    }
}

.newButton {
    color:white;
    font-size: 1.5rem;
    border-radius: 50px; 
    background-color: rgb(125 0 254);
     align-items: center;
     padding: 2%;
}

.newButton:hover {
    background-color: rgb(125 0 254);
    color: white;
    padding:2.1%;
}